
.new-arrival{
  text-align: center;
  margin-top: 20px;
}

.product{
  text-align: center;
  font-weight: bold;
}
.card-custom {
  max-width: 300px;
}

.card-media-custom {
  height: 200px;
 margin-right: -100px;
  
}

.card-content-custom h5 {
  color: #090909;
  font-size: medium;
  font-weight: medium;
}

.card-content-custom .price {
  color: #131313;
  font-weight: bold;
}

.card-content-custom .old-price {
  text-decoration: line-through;
  color: red;
  padding-left: 30px;
  font-weight: bold;
}


.container-box {

  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-container {
  padding: 50px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.grid-item {
  flex: 0 0 20%;
}
/* Container to center the image list container */
.center-container {
  display: flex;
  justify-content: center; /* Horizontally center */
  align-items: center; /* Vertically center */
  height: 100vh; /* Full viewport height */
  margin: 0; /* Reset any default margin */
}
/* Container for the image list */
.image-list-container {
  width: 100%; /* Full width to accommodate items */
  display: flex; /* Align items in a row */
   /* Space between items */
  justify-content: center; /* Center items horizontally */
  overflow-x: auto; /* Allow horizontal scrolling if needed */
  padding-top: 1px;
  flex-wrap: wrap;
}

/* Style for each image list item */
.image-list-item {
  position: relative;
  width: 400px; /* Fixed width for each item */
  height: 400px; /* Fixed height for each item */
  border-radius: 20px; /* Apply border-radius */
  overflow: hidden; /* Ensure border-radius is visible */
  margin: 30px;
 
}

/* Style for the images */
.image-list-item-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px; /* Ensure image itself has border-radius */
}

/* Style for the bottom bar with title, subtitle, and button */
.image-list-item-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
}

/* Style for the title */
.image-list-item-bar .title {
  font-size: 16px;
  font-weight: bold;
  flex: 1; /* Make title flexible */
  text-align: center; /* Center the title text */
}

/* Style for the info button */
.info-button {
  background: none;
  border: none;
  color: rgba(255, 255, 255, 0.54);
  cursor: pointer;
  font-size: 16px;
}

/* Optional: Add hover effect for the info button */
.info-button:hover {
  color: #fff;
}

.card-container {
  margin-bottom: 50px; /* Adjust the spacing as needed */
}
.shop-age{
    background-image: url('https://img.freepik.com/free-vector/gray-curve-frame-template-vector_53876-154036.jpg?size=626&ext=jpg');
    background-size: cover;
    width: 100%;
    height: 700px;
}
    