
.card-content-custom .price {
    color: #131313;
    font-weight: bold;
  }
  
  .card-content-custom .old-price {
    text-decoration: line-through;
    color: red;
    padding-left: 30px;
    font-weight: bold;
  }
  /* ProductNavBar.css */
nav {
  display: flex;
  align-items: center;
}

.nav-link {
  color: black;
  text-decoration: none;
  margin-right: 20px;
  font-weight: bold;
}

.nav-link:hover {
  color:#F6BE00;
}

