.cart-container {
  padding: 20px;
}

.cart-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.container-box {
  padding: 10px;
}

.grid-container {
  margin: 0;
}

.grid-item {
  display: flex;
  justify-content: center;
  width: 100%;
}

.card-custom {
  width: 1000px; /* Increase the width of the card */
  position: relative;
  overflow: visible;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 300px; /* Increase the height of the card */
}

.card-content-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.card-media-custom {
  height: 100%; /* Make the image take the full height of the card */
  width: 50%; /* Adjust the width of the image */
  margin-right: 20px; /* Space between image and text */
}

.card-content-custom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  height: 100%; /* Make the content take full height */
}

.quantity-controls {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.quantity {
  margin: 0 10px;
}

.remove-item-button {
  position: absolute;
  top: 10px;
  right: 10px;
}
