.order-tracking-page {
    padding: 20px;
    text-align: center;
  }
  
  .review-button,
  .chat-button {
    margin: 10px;
    padding: 10px 20px;
    background-color: #f6be00;
    border: none;
    color: white;
    cursor: pointer;
  }
  
  .review-button:hover,
  .chat-button:hover {
    background-color: #d4a200;
  }
  