.payment-container {
    max-width: 500px;
    margin: 30px auto;
    padding: 20px;
    background-color: #fff7cc;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .payment-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  input.error {
    border-color: red;
  }
  
  .error-message {
    color: red;
    font-size: 14px;
  }
  
  .payment-methods {
    display: flex;
    gap: 20px;
  }
  
  .payment-button {
    padding: 10px;
    background-color: #F6BE00;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 461px;
  }
  
  .payment-button:hover {
    background-color: #FFC107;
    color: white;
  }
  