.admin-dashboard {
  display: flex;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  margin: 30px;
  
}

.sidebar {
  width: 250px;
  background-color: #2f1b12;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.admin-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}

.admin-profile h2 {
  font-size: 18px;
  margin: 10px 0;
  color: white;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  width: 100%;
}

.sidebar ul li {
  width: 100%;
}

.sidebar ul li a {
  display: block;
  padding: 15px 20px;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

.sidebar ul li a:hover {
  background-color: #495057;
}

.logout-button {
  margin-top: auto;
  margin-bottom: 20px;
  padding: 10px 20px;
  background-color: #F6BE00;
  border: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.logout-button:hover {
  background-color: #c82333;
}

.main-content {
  flex: 1;
  padding: 20px;
}
